body {
    background-color: darkblue;
}

.welcome-words {
    margin: 0;
    font-size: 70px;
    justify-self: center;
    color: orange;
    font-family: georgia;
}

.little-description {
    margin: 0;
    justify-self: center;
    color: coral;
    font-size: 20px;
    font-family: Impact;
}