.basic-info-container {
    position: absolute;
    background-color: rgb(217, 217, 217);
    width: 650px;
    margin: 3px;
    top: 60px;
    bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.basic-info-title {
    justify-self: center;
    font-size: 40px;
    font-family: monospace;
    font-variant: small-caps;
}

.basic-info {
    margin-left: 35px;
    font-family: verdana;
    font-size: 17px;
}