body {
    margin-top: 60px;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: blue;
}

.left-section-header {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.hamburger-menu-icon {
    height: 35px;
    cursor: pointer;
}

.options-page {
    position: absolute;
    background-color: blue;
    width: 145px;
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    top: 55px;
    left: 0;
    z-index: 1;
}

.option {
    height: 45px;
    width: 145px;
    background-color: blue;
    border-style: solid;
    border-width: 1px;
    border: top;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    margin-top: 20px;
}

.option:hover {
    color: white;
    border-color: white;
    background-color: rgb(71, 71, 255);
}

.home-container {
    position: absolute;
    top: 3px;
    left: 80px;
    cursor: pointer;
}

.home-words {
    font-size: 20px;
    font-family: cursive;
    color: white;
}

.home-logo {
    margin-bottom: -18px;
    height: 50px;
    margin-right: 10px;
}

.middle-section-header {
    flex: 1;
    max-width: 500px;
    margin-left: 70px;
    margin-right: 35px;

    display: flex;
    align-items: center;
}

.right-section-header {
    width: 200px;
    display: flex;
    align-items: center;
    margin-right: -30px;
    flex-shrink: 0;
}

.user-logged-in {
    margin-right: -60px;
}

.profile-page {
    position: absolute;
    background-color: blue;
    width: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    top: 55px;
    right: 0;
    z-index: 1;
}

.profile-button {
    border: 1px solid yellow;
    background: blue;
    color: yellow;
    margin-top: 20px;
    border-radius: 25px;
    height: 30px;
    width: 100px;
    transition: all 150ms ease-in-out;
}

.admin-button {
    color: rgb(255, 49, 49);
    border-color: rgb(255, 49, 49);
    height: 35px;
}

.sign-out-button {
    color: white;
    border-color: white;
    position: absolute;
    bottom: 200px;
}

.profile-button:hover {
    background-color: rgb(122, 200, 226);
    cursor: pointer;
}

.admin-button:hover {
    background-color: rgb(194, 255, 255);
}

.admin-passkey-input {
    color: wheat;
    background: none;
    width: 120px;
    margin-top: 20px;
    border: 1px solid black;
}

.admin-passkey-input::placeholder {
    color: wheat;
    font-family: Edu TAS Beginner;
}

.admin-passkey-input:focus {
    outline: none;
}

.login-button {
    background: none;
    border: none;
    cursor: pointer;
}

.login-icon {
    height: 40px;
}

.logged-in {
    background-color: black;
    border-radius: 20px;
    color: lightsteelblue;
    padding: 5px 10px;
    margin-right: -20px;
}