body {
    margin: 0;
    padding-top: 20px;
    max-width: 1500px;;
    padding-bottom: 100px;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: blue;
}

.left-section-header {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.hamburger-menu-icon {
    height: 35px;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
    margin-left: 20px;
    margin-right: 27px;
}

.tester-icon {
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.middle-section-header {
    flex: 1;
    max-width: 500px;
    margin-left: 70px;
    margin-right: 35px;

    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 36px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    padding-left: 10px;
    font-family: georgia;
    width: 0;
}

.search-bar::placeholder {
    font-family: Georgia;
    font-size: 16px;
}

.search-button {
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
}

.search-icon {
    height: 25px;
    margin-top: 4px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
}

.voice-search-icon {
    height: 24px;
    margin-top: 4px;
}

.right-section-header {
    width: 200px;
    display: flex;
    align-items: center;
    margin-right: 57px;
    flex-shrink: 0;
}

.add-shortcut-icon {
    height: 45px;
    cursor: pointer;
}

.notifications-icon {
    height: 35px;
    margin-left: 25px;
    margin-right: 10px;
}

.notifications-icon-container {
    position: relative;
}

.notifications-count {
    position: absolute;
    top: 0;
    right: 6px;
    background-color: red;
    color: white;
    font-family: georgia;
    font-size: 13px;
    padding-bottom: 4px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 10px;
}

.login-container {
    cursor: pointer;
    border: none;
    background: none;
}

.logged-in {
    background-color: black;
    color: aqua;
    border-radius: 20px;
    margin-bottom: 2px;
    margin-left: 15px;
}

.login-icon {
    width: 140px;
}

.logged-in-icon {
    height: 32px;
    border-radius: 16px;
}

.profile-page {
    position: absolute;
    background-color: blue;
    width: 145px;
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: -544px;
    top: 55px;
    right: 0;
}

.profile-button {
    color: aqua;
    background: none;
    border: none;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: opacity 0.15s ease-in-out;
}

.profile-button:hover {
    opacity: 0.5;
}

.admin-button {
    color: red;
    background: none;
    border: red solid 1px;
    margin-bottom: 8px;
    cursor: help;
}

.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-input {
    width: 120px;
    background: none;
    margin-bottom: 5px;
}

.admin-input:focus {
    outline: none;
}

.contact-button {
    cursor: pointer;
    color: white;
    background: none;
    bottom: 40px;
    position: absolute;
    border: none;
    text-decoration: underline;
    transition: color 0.15s ease-in-out;
}

.contact-button:hover {
    color: black;
}

.sign-out-button {
    cursor: pointer;
    color: white;
    border-color: white;
    border-style: solid;
    width: 70px;
    background: none;
    bottom: 10px;
    position: absolute;
}

.sign-out-button:hover {
    color: aqua;
    border-color: aqua;
}

.period-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.day-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.period-button {
    border: none;
    border-radius: 50px;
    width: 100px;
    background-color: aquamarine;
    cursor: pointer;
}

.users-paragraph {
    color: red;
    display: block
}