body {
    padding-top: 60px;
    background-color: blueviolet;
}

.header {
    display: flex;
    background-color: gray;
    height: 35px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font: georgia;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    cursor: not-allowed;
}

.left-section-header {
    padding: 15px;
    color: black;
    background-color: yellow;
}

.middle-section-header {
    padding: 15px;
    color: purple;
    background-color: lightgreen;
}

.right-section-header {
    padding: 15px;
    color: lightsalmon;
    background-color: blue;
}

h1 {
    text-decoration: underline;
    color: white;
}

h2 {
    text-decoration: overline;
    color: yellow;
}

h3 {
    text-decoration: line-through;
    color: red;
}

button {
    border: none;
    background-color: aqua;
    cursor: pointer;
}

.secret-button {
    background-color: yellow;
    cursor: none;
}

span {
    color: aqua;
    background-color: orange;
}

p {
    color: blueviolet;
    cursor: default;
}

.rps-words {
    background-color: blueviolet;
    font-weight: bolder;
}